.App {
  text-align: center;
}

    a:link {
      color: burlywood;
      text-decoration: none;
      font-size: 1em;

    }
    
    /* visited link */
    a:visited {
      color: burlywood;
    }
    
    /* mouse over link */
    a:hover {
      color: tomato;
    }
    
    /* selected link */
    a:active {
      color: burlywood;
  }

  .linkTo{
    position:absolute;
    top:37%;

  }


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  position:absolute;
  top:19.3%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.App-logo-white{
  animation: App-logo-white-spin infinite 20s linear;
  height: 24vmin;
  pointer-events: none;
  position:absolute;
  top:17%;


}

.App-title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top:0;
}

.App-owner{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  font-variant: small-caps;
  font-size: 2em;
  font-weight: 700;
  color:tomato;
  bottom:15%;

}

.App-owner > span {

  font-variant: none;
  font-size: .75em;
  font-weight: 200;

}

.App-dev{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  color:darkgrey;
  bottom:3%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

.App-Intro{
  margin-top: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-white-spin {
  0%  {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}	
}
